@define-color bg #040404;
@define-color fg #f5f0e8;
@define-color gray1 #52d9dd;
@define-color gray2 #52d9dd;
@define-color gray3 #52d9dd;
@define-color gray4 #40c4c0;
@define-color gray5 #40c4c0;
@define-color fg_bright #fff8f0;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}