@import url('https://refact0r.github.io/system24/build/system24.css');

body {
    /* font, change to '' for default discord font */
    --font: 'DM Mono'; /* change to '' for default discord font */
    --code-font: 'DM Mono'; /* change to '' for default discord font */
    font-weight: 300; /* text font weight. 300 is light, 400 is normal. DOES NOT AFFECT BOLD TEXT */
    letter-spacing: -0.05ch; /* decreases letter spacing for better readability. recommended on monospace fonts.*/

    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 2px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: off; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: off; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url(''); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */

    /* unrounding options */
    --unrounding: on; /* off: default, on: remove rounded corners from panels */

    /* styling options */
    --custom-spotify-bar: on; /* off: default, on: custom text-like spotify progress bar */
    --ascii-titles: on; /* off: default, on: use ascii font for titles at the start of a channel */
    --ascii-loader: system24; /* off: default, system24: use system24 ascii loader, cats: use cats loader */

    /* panel labels */
    --panel-labels: on; /* off: default, on: add labels to panels */
    --label-color: var(--text-muted); /* color of labels */
    --label-font-weight: 500; /* font weight of labels */
}

/* color options */
:root {
    --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: var(--bg-4); /* text on colored elements */
    --text-1: #fff8f0; /* other normally white text */
    --text-2: #f5f0e8; /* headings and important text */
    --text-3: #e8ddd5; /* normal text */
    --text-4: #f5f0e8; /* icon buttons and channels */
    --text-5: #52d9dd; /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: #4d7575; /* dark buttons when clicked */
    --bg-2: #4d7575; /* dark buttons */
    --bg-3: #0f1a1a; /* spacing, secondary elements */
    --bg-4: #040404; /* main background color */
    --hover: oklch(54% 0 0 / 0.1); /* channels and buttons when hovered */
    --active: oklch(54% 0 0 / 0.2); /* channels and buttons when clicked or selected */
    --active-2: oklch(54% 0 0 / 0.3); /* extra state for transparent buttons */
    --message-hover: var(--hover); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--red-2); /* links and other accent text */
    --accent-2: var(--red-2); /* small accent elements */
    --accent-3: var(--red-2); /* accent buttons */
    --accent-4: var(--red-1); /* accent buttons when hovered */
    --accent-5: var(--red-3); /* accent buttons when clicked */
    --accent-new: var(--red-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--green-2); /* change to #40a258 for default */
    --dnd: var(--red-2); /* change to #d83a41 for default */
    --idle: var(--yellow-2); /* change to #cc954c for default */
    --streaming: var(--purple-2); /* change to ##9147ff for default */
    --offline: var(--text-4); /* change to #82838b for default offline color */

    /* border colors */
    --border-light: var(--green-2); /* general light border color */
    --border: var(--green-2); /* general normal border color */
    --border-hover: var(--green-1); /* border color of panels when hovered */
    --button-border: var(--green-2); /* neutral border color of buttons */

    /* firesky colors from alacritty.toml */
    --black: #0f1a1a;
    --red-1: #ff7540;
    --red-2: #ff4d1a;
    --red-3: #ff4d1a;
    --red-4: #ff4d1a;
    --red-5: #ff4d1a;

    --green-1: #40d4d0;
    --green-2: #1a7578;
    --green-3: #1a7578;
    --green-4: #1a7578;
    --green-5: #1a7578;

    --blue-1: #52d9dd;
    --blue-2: #2a858c;
    --blue-3: #2a858c;
    --blue-4: #2a858c;
    --blue-5: #2a858c;

    --yellow-1: #ffad52;
    --yellow-2: #ff8f40;
    --yellow-3: #ff8f40;
    --yellow-4: #ff8f40;
    --yellow-5: #ff8f40;

    --purple-1: #ffc275;
    --purple-2: #d4803d;
    --purple-3: #d4803d;
    --purple-4: #d4803d;
    --purple-5: #d4803d;

    --cyan-1: #70f0ed;
    --cyan-2: #40c4c0;
}


